@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

body {
  background: #ffffff;
  height: 100vh;
  width: 100vw;
}

.surah-meta {
  width: 170px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 10px;
}

.time {
  font-variant-numeric: tabular-nums;
}

.date {
  padding-left: 2rem;
}

i {
  font-size: 40px;
}

#iftar,
#sehri {
  font-size: 30px;
}

footer p {
  color: rgba(253, 0, 55, 0.7);
}

@media (min-width: 601px) {
  .container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #00ff6a;
    position: absolute;
    top: -150px;
    left: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .time {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 30px;
    margin-top: 40px;
  }
  .time h1 {
    margin: 60px 10px 0 110px;
  }
  .date {
    font-size: 20px;
    margin-left: 60px;
  }
  .ayah {
    width: 50vw;
    background: #00ff6a;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
  }
  .btm {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
  }

  .btmc {
    height: 100px;
    width: 250px;
    margin: 0 10px;
    background: #ff304f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    border-radius: 10px;
  }

  .sidebar {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }

  .card {
    height: 150px;
    width: 300px;
    background: #492540;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
}

@media (max-width: 600px) {
  body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    position: absolute;
    top: -20%;
    width: 100vw;
    height: 45vh;
    border-radius: 50%;
    background: rgba(0, 255, 87, 0.73);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .time {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 25px;
  }
  .date {
    font-size: 20px;
  }
  .ayah {
    width: 88vw;
    height: auto;
    padding: 10px;
    margin: 30vh 0 6vh 0;
    background: rgba(0, 255, 87, 0.68);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 20px;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: rgba(0, 0, 0, 0.02);
  }
  .card {
    text-align: center;
    height: 160px;
    width: 45%;
    background: #492540;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  .btmc {
    height: 100px;
    width: 250px;
    background: #ff304f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    border-radius: 10px;
    margin: 30px 0;
  }
}
